<div class="modal-content">
	<div class="container p-4">
		<div class="row">
			<div class="col">
				<h1>Delete user</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<form *ngIf="this.user">
					<label
						>Are you sure you want to delete user
						<b>{{ this.user.email }}</b> with role {{ this.user.role
						}}? Please confirm.</label
					>
				</form>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<mav-button
					[text]="'Cancel'"
					[cssClass]="'cancel'"
					(click)="this.cancel()"
				></mav-button>
				<mav-button
					[text]="'Ok'"
					[cssClass]="'save hidden'"
					(click)="this.accept()"
				></mav-button>
			</div>
		</div>
	</div>
</div>
