@import '../../../../../../shared/styles/colors';

.addUserButton {
  background-color: #e9edef;
  color: #2078c6;
  border-color: #2078c6;
}

.add-user-image {
  height: 1.25rem;
  width: 1.25rem;
  float: right;
  margin-left: 0.5rem;

  &.bin-icon {
    background-color: #2078c6;
    -webkit-mask: url('../../../../../../assets/icons/ui/streamline-icon-bin-1@140x140.svg') no-repeat center / contain;
    mask: url('../../../../../../assets/icons/ui/streamline-icon-bin-1@140x140.svg') no-repeat center / contain;
  }
}
