.env
.git
.gitignore
.vs
**/.vs
/Mavim-services/.vs
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
.vs
*/*/.vs
*/*/*/.vs
Mavim-apps
SolutionItems/Deployment
SolutionItems/Iconsets
Tools
Documentation