@import '../../../../shared/styles/colors';

$half: calc((100% / 2) - 2px);
$halfMinSidebarPlusLine: calc(50% - 3.75rem + 2px);

.tree-panel {
  position: absolute;
  width: $half;
  border-right: 2px solid $accent1;
  left: -50%;
  height: 100%;
  transition: all 0.5s ease;
  display: inline-block;
  background-color: $white;
  z-index: 440;

  &.sidebar_offset {
    width: calc(50% - 3.75rem + 2px);
  }

  &-scroll {
    margin: 1rem 1rem 0;
    display: block;
    height: calc(100% - 3.5rem);
    width: calc(100% - 1rem);
    overflow: auto;
  }

  &.active {
    left: 0;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.75rem;
  }
}
